A.pagetop {
    color : Maroon;
    font :12pt Arial, Helvetica, sans-serif;
}
TD.label {
	color : Maroon;
	font : bold 10pt Arial, Helvetica, sans-serif;
	
}
TD.label4 {
	color : black;
	font : bold 10pt Arial, Helvetica, sans-serif;
	
}
TD.label1 {
	color :Black;
	font : bold 16pt Arial, Helvetica, sans-serif;
}
TD.label2 {
	color : Maroon;
	font : bold 12pt Arial, Helvetica, sans-serif;
	
}
TD.largelabel {
	color : Maroon;
	font : bold 12pt Arial, Helvetica, sans-serif;
	
}

BODY {
    background-color :#ccccee ;
    font-family : Arial, Helvetica, sans-serif;
    font-size : 10pt;
    font-style : normal;
    font-variant : normal;
    font-weight : normal;
}

td {
    font : normal 10pt Arial, Helvetica, sans-serif;
}

TD.secondlevel {
	 font : normal 8pt Arial, Helvetica, sans-serif;
}


P.label {
    color : Maroon;
    font-size : 12pt;
    font-variant : normal;
    font-weight : bold;
    font-family: Arial, Helvetica, sans-serif;
}

td.blbo {
    color : Black;
    font : bold 10pt Arial, Helvetica, sans-serif;
}

P.blbo {
    color : Black;
    font : bold 12pt Arial, Helvetica, sans-serif;
}
