<%//@ include file="submission_header1.html"%>
<%  response.setHeader("Cache-Control","no-cache");
  response.setHeader("Pragma","no-cache");
 response.setDateHeader("Expires",System.currentTimeMillis());
 %>

<P>&nbsp;</P> 


<form method="post"  action = "intro.jsp">

			
						<table width="85%" align="center">
						<tr><td>		
					<h2 class="title">Welcome back <%//=CapsConverter.convert(firstName)%> <%=CapsConverter.convert(lastName)%>!</h2>
</td></tr><tr><td>To edit one of your <b>existing models</b> click on the name of the model. <br>To add a <b>new model</b> select &quot;Add new Model&quot;.<br><br>
If you are unfamiliar with the submission process please refer to <a href="help.html#introduction" target="_blank" ><b>HELP</b></a>.
</td></tr><tr><td><br>There are <b><%//=modelAcct%></b> records returned.</td></tr></table>
					<p>
					<TABLE border="1" align="center" cellspacing="5" cellpadding="5" width="85%">	
					<tr><td align="center">Duplicate<br> Record</td><td class="label" align="center">Model Descriptor</td><td align="center">The model was entered on</td><td align="center">Remove</td></tr>
					
<tr><td>&nbsp;</td><td align="center"><a href="General_info.jsp?mode=Submit" style="font-size: 14pt;">Add new model</a></td>
<td align="center">
<script language="JavaScript" type="text/javascript">
<!--
	document.write(new Date);
// -->
</script></td><td>&nbsp;</td></tr>
<%
 while (models.hasMoreElements()){ 
	Animalmodel model = (Animalmodel)models.nextElement();	
	modelID = model.getModeluid();
	  
   
	
%>
		<tr>
		<td align="center">
		
		<a href ="intro.jsp?id=<%=model.getModeluid()%>&copyStatus=true" onClick="return confirm('Are you sure you want to copy the record?')"><img src="images/history_copy.gif" width="30" height="35" border="0"></a></td>
		<td align="center"><a href="Submission.jsp?modelID=<%=model.getModeluid()%>&modelName=<%=model.getModelname()%>" style="font-size: 14pt;"><%=model.getModelname()%></a></td><td align="center"><%=model.getTimestamp()%></td>
		<td align="center">
		<a href ="intro.jsp?id=<%=model.getModeluid()%>&deleteStatus=true" onClick="return confirm('Are you sure you want to delete the record?')"><img src="images/trashcan.gif" border="0" ></a></td>
		</tr>
		
		
<%}%>				
				<tr><td align="center"><!--model name --></td><td align="center"><!--date --></td></tr>
									
										
				</TABLE><p align="right"><a href="#top">Top of the page</a></p>
			
	</form>	
<%  
   if(id != null && copyStatus != null && copyStatus.equals("true")){  
    boolean status = false; 
    CompositeDB.copyModel(Long.decode(id)); 
    status= true; 
    if(status){
	  System.out.println("first time for copy =====");	%>
	 <script language="JavaScript">
	 location.replace("intro.jsp");
	 </script> 
	 <%
	  }
    } 
	System.out.println("deleteStatus:"+deleteStatus);
  if(id != null && deleteStatus != null && deleteStatus.equals("true") ){ 
    boolean status = false; 
    delete.deleteModel(Long.decode(id)); 
    status = true; 
    if(status){%>
	  <script language="JavaScript">
	 location.replace("intro.jsp");
	 </script> 
	<%}
    } %>
    
<P>&nbsp;</P><!-- #EndEditable -->
</BODY>
<!-- #EndTemplate -->
</HTML>
